
body {

    background: url(img/fondo1.jpg);
    text-align: center;
    padding-top: 15%;
    margin-left: 25%;
    
    
}
h1 {
  font-size: 200%;
  position: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 200%;
  position: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0%;
}

.button {
    position: center;
    left: 500px;
   
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #43abff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #418bec}
  /*.button:hover {background-color: #3e8e41}*/
  
  .button:active {
    background-color: #1d9ad4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }